<html>
    <head>
        <title>{{ user.username }}'s Profile Settings</title>
        <style>
            body {
                background-color: #111111;
            }
            .text {
                color: #ffffff;
            }
            a.link {
                color: #ffffff;
            }
        </style>
    </head>
    <body>
        <div class="text">
            Hello, {% if user.name %}{{ user.name }}{% else %}{{ user.username }}{% endif %}!
        </div>
        <form method="POST">{% csrf_token %}
            <input type="text" name="name" {% if user.name %}value="{{user.name}}"{% endif %} placeholder="Your name">
            <input type="submit" value="Update">
        </form>
        <div>
            <a class="link" href="/playlists">Edit playlists</a>
        </div>
        <div>
            <a class="link" href="/">Return to main page.</a>
        </div>
    </body>
</html>